@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Zen+Old+Mincho&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-body
}

.root {
  @apply m-0 flex flex-col min-h-screen
}

.font-mincho {
  font-family: 'Zen Old Mincho', serif;
}

.top-page-section-heading {
  @apply
  text-theme-red
  tracking-wider
  font-mincho
  font-extrabold
  border-b
  border-theme-red
  border-l-8
  pb-1
  pl-2
  mb-5
}

.base-btn {
  @apply rounded-full px-6 py-2 border-transparent text-white cursor-pointer
}

.sub-wrapper {
  @apply w-full md:w-162 mx-auto
}

.main-wrapper {
  @apply sub-wrapper px-5 md:px-0
}

.demo-img-wrapper {
  @apply sub-wrapper h-96
}

section {
  @apply mb-4
}

.label {
  @apply justify-start
}

.label-text {
  @apply text-base
}

.steps .step.step-success:after {
  @apply bg-theme-green
}

.steps .step.step-error:after {
  @apply bg-theme-red
}

.steps .step:after {
  @apply text-white bg-gray-300
}

.steps .step:before {
  @apply bg-gray-300
}

.checkbox-success, .checkbox-error {
  --chkfg: 4 100% 100%;
}

.tab-success {
  @apply text-theme-green opacity-50
}

.tab-error {
  @apply text-theme-red opacity-50
}

.tabs-boxed .tab-active.tab-success {
  background-color: hsl(var(--su) / var(--tw-bg-opacity));
  opacity: 1;
}

.tabs-boxed .tab-active.tab-error {
  background-color: hsl(var(--er) / var(--tw-bg-opacity));
  opacity: 1;
}

.form-heading-text {
  @apply text-lg font-semibold p-2 bg-gray-300 border-y border-gray-400 box-content
}

.form-subheading-text {
  @apply ml-2 text-base font-normal
}

.tos-pp-wrapper {
  @apply mb-6 leading-loose break-words
}

.tos-pp-wrapper h2 {
  @apply font-semibold text-lg border-b pb-1 my-6
}

.tos-pp-wrapper p {
  @apply mb-4
}

.tos-pp-wrapper ol {
  @apply list-decimal pl-6 mt-4
}

.tos-pp-wrapper li {
  @apply mb-2
}

.page-title {
  @apply text-xl font-semibold text-center
}

.wine-form, .user-form {
  @apply my-4 flex flex-col sm:items-center
}

.wine-form-control, .user-form-control {
  @apply form-control w-full max-w-md mb-4
}

.wine-form-label, .user-form-label {
  @apply label flex flex-col items-start
}

.wine-form-label-text, .user-form-label-text {
  @apply label-text mb-2
}

.user-form-error-message {
  @apply text-theme-red my-4 text-center font-semibold
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
